In [1]:
import json
import os
import pandas as pd

In [2]:
## Sum dictionaries
def add_dict(d1, d2):
    for k1 in d1.keys():
        for k2 in d1[k1].keys():
            d1[k1][k2] += d2[k1][k2]

In [3]:
## Baselines
baseline_files   = [os.path.join("../results/", fname) for fname in os.listdir("../results/") if "baseline" in fname and "json" in fname]
baseline_results = None 
for fname in baseline_files:
    if baseline_results is None:
        baseline_results = json.load(open(fname, "r"))
    else:
        add_dict(baseline_results, json.load(open(fname, "r")))
baseline_df = pd.DataFrame.from_records(baseline_results)
baseline_df = baseline_df.iloc[:,2:]
baseline_df = baseline_df.T.round(2)
baseline_df

            accuracy  auprc    f1  auroc      time
Linear SVM      0.95   0.92  0.95   0.95  19752.63
Log Reg         0.95   0.92  0.95   0.95    126.59
MLP             0.94   0.90  0.93   0.94   1506.45
NB              0.80   0.71  0.82   0.80     21.52
RBF SVM         0.95   0.93  0.95   0.95  25225.82

In [4]:
## KNN
knn_files   = [os.path.join("../results/", fname) for fname in os.listdir("../results/") if "KNN" in fname and "json" in fname]
knn_results = None 
for fname in knn_files:
    if knn_results is None:
        knn_results = json.load(open(fname, "r"))
    else:
        add_dict(knn_results, json.load(open(fname, "r")))
knn_df = pd.DataFrame.from_records(knn_results)
knn_df = knn_df.iloc[:,2:]
knn_df = knn_df.T.round(2)
knn_df = knn_df.iloc[:len(knn_files)-1,:]
knn_df

        accuracy  auprc    f1  auroc      time
KNN-15      0.68   0.64  0.55   0.67  10377.58
KNN-17      0.69   0.65  0.57   0.68  10979.94
KNN-19      0.70   0.66  0.58   0.69  10967.81
KNN-21      0.71   0.66  0.60   0.70  11090.60
KNN-3       0.77   0.71  0.74   0.77   8445.00
KNN-5       0.74   0.69  0.69   0.74   9958.02
KNN-7       0.72   0.67  0.64   0.71  12110.49
KNN-9       0.00   0.00  0.00   0.00      0.00

In [5]:
## KNN
knn_files   = [os.path.join("../results/", fname) for fname in os.listdir("../results/") if "KNN" in fname and "json" in fname]
knn_results = None 
for fname in knn_files:
    if knn_results is None:
        knn_results = json.load(open(fname, "r"))
    else:
        add_dict(knn_results, json.load(open(fname, "r")))
knn_df = pd.DataFrame.from_records(knn_results)
knn_df = knn_df.iloc[:,2:]
knn_df = knn_df.T.round(2)
knn_df = knn_df.iloc[:len(knn_files)-1,:]
knn_df

        accuracy  auprc    f1  auroc      time
KNN-15      0.68   0.64  0.55   0.67  10377.58
KNN-17      0.69   0.65  0.57   0.68  10979.94
KNN-19      0.70   0.66  0.58   0.69  10967.81
KNN-21      0.71   0.66  0.60   0.70  11090.60
KNN-3       0.77   0.71  0.74   0.77   8445.00
KNN-5       0.74   0.69  0.69   0.74   9958.02
KNN-7       0.72   0.67  0.64   0.71  12110.49
KNN-9       0.00   0.00  0.00   0.00      0.00

In [6]:
## Parzen
parzen_files   = [os.path.join("../results/", fname) for fname in os.listdir("../results/") if "Parzen" in fname and "json" in fname]
parzen_results = None 
for fname in parzen_files:
    if parzen_results is None:
        parzen_results = json.load(open(fname, "r"))
    else:
        add_dict(parzen_results, json.load(open(fname, "r")))
parzen_df = pd.DataFrame.from_records(parzen_results)
parzen_df = parzen_df.iloc[:,2:]
parzen_df = parzen_df.T.round(2)
# parzen_df = parzen_df.iloc[:len(parzen_files)-1,:]
parzen_df

TypeError: object of type 'NoneType' has no len()